:root {
    --bg-color: #000;
    --txt1: #478800;
}
#base {
    background-color: var(--bg-color);
}
#header {
    background-color: var(--bg-color);
}
#header h1 {
    color: var(--txt1);
}
.card1 {
    background-color: var(--bg-color);
}
.card1 h2 {
    color: var(--txt1);
}